/* Global */
:root {
  /* Background Color */
  --background-color: #e1dfdd;

  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 144px;
  --font-medium: 40px;
  --font-regular: 22px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags  */
* {
  box-sizing: border-box;
}

/* Universal tags  */
* {
  box-sizing: border-box;
  font-size: var(--font-regular);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--background-color);
}

section {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

/* Typography */

.large_text {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  letter-spacing: -8px;
  line-height: 130px;
}

.medium_text {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

.regular_text {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
}

.navbar_menu {
  display: flex;
}

/* Main */
#main {
}
