/* Global */
:root {
  /* Background Color */
  --background-color: #e1dfdd;

  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 144px;
  --font-medium: 40px;
  --font-regular: 22px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags  */
* {
  box-sizing: border-box;
  font-size: var(--font-regular);
}

body {
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--background-color);
}

section {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

/* Typography */

.large_text {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  letter-spacing: -5px;
}

.medium_text {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

.regular_text {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.text_underline {
  border-bottom: 15px solid var(--color-black);
}

/* Navbar */

#navbar {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  font-weight: var(--weight-bold);
}

.navbar_menu {
  display: flex;
}

/* Main */

#main {
  position: relative;
}

.main_desc {
  font-weight: var(--weight-bold);
  position: absolute;
  left: 20%;
  display: flex;
  justify-content: space-between;
  top: 30px;
}

.main_desc p {
  padding: 0 80px;
}

.main_profile {
  margin-top: 70px;
}

.profile_image {
  margin-top: 40px;
}

.main_bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main_arrow i {
  font-size: 100px;
}

.main_bottom_title {
  text-align: right;
}

/* Profile */
#profile {
  margin-top: 300px;
}

.profile_container {
  max-width: 1500px;
  display: grid;
  grid-template-columns: 0.8fr 2.2fr;
  row-gap: 60px;
}

.first_numbers {
  grid-row-start: 1;
  grid-row-end: 3;
  font-weight: var(--weight-bold);
}

.profile_desc p {
  margin-bottom: 40px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.desc_sub {
  display: flex;
}

.desc_sub_title {
  flex-basis: 400px;
}

.desc_sub_content {
  flex-basis: 550px;
}

.desc_sub_content p {
  margin-bottom: 40px;
}

/* portfolio */
#portfolio {
  margin-top: 200px;
}

.page_numbers {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  font-weight: var(--weight-bold);
}

.portfolio_container {
  margin-top: 150px;
}

.portfolio_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.portfolio_title_sub {
  margin: 70px 0 0 130px;
}

/* About */
#about {
  margin-top: 300px;
}

.about_content {
  width: 60%;
}

.about_content > * {
  margin-bottom: 40px;
}

.about_self {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Contact */
#contact {
  margin-top: 200px;
}

.contact_email {
  display: inline-block;
  margin: 100px 0 200px 0;
}

.contact_bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
